.about {

    @include flex;

    .image {
        flex: 1 1 40rem;

        img {
            width: 100%;
        }
    }

    .content {
        width: 45rem;

        span {
            @include fontStyle(2rem, var(--green));
        }

        h3 {
            padding-top: 2rem;
            @include fontStyle(2.5rem, var(--black));
        }

        p {
            padding    : 1.5rem 0;
            line-height: 2;
            @include fontStyle(1.4rem, var(--lightColor));
        }
    }
}