.category {

    .box-container {

        @include grid(30rem);

        .box {
            padding   : 3rem 2rem;
            text-align: center;
            border    : var(--border);

            &:hover i {
                transform: translateY(-1rem);
            }

            i {
                height          : 5.5rem;
                width           : 5.5rem;
                line-height     : 5.5rem;
                border-radius   : 0.5rem;
                text-align      : center;
                background-color: var(--green);
                @include fontStyle(2rem, var(--white));
            }

            h3 {
                padding-top: 1.5rem;
                @include fontStyle(2rem, var(--black));
            }

            p {
                line-height: 2;
                padding-top: 1.5rem;
                @include fontStyle(1.4rem, var(--lightColor));
            }
        }
    }
}