.contact {

    .row {
        display  : flex;
        flex-wrap: wrap;
        gap      : 2rem;

        .contact-info-container {
            width: 40rem;

            .box {
                margin-bottom: 2rem;
                display      : flex;
                gap          : 1.5rem;

                i {
                    height          : 5rem;
                    width           : 5rem;
                    line-height     : 5rem;
                    margin-top      : -.5rem;
                    border-radius   : 50%;
                    text-align      : center;
                    background-color: var(--green);
                    @include fontStyle(1.7rem, var(--white));
                }

                .info {
                    h3 {
                        @include fontStyle(2rem, var(--black));
                    }

                    p {
                        @include fontStyle(1.5rem, var(--lightColor));
                    }
                }

                &:nth-child(even) {
                    .info p {
                        text-transform: lowercase;
                    }
                }
            }

            .share {
                padding-top: 1rem;
            
                a {
                    height          : 5rem;
                    width           : 5rem;
                    line-height     : 5rem;
                    margin-right    : .5rem;
                    background-color: var(--black);
                    text-align      : center;
                    @include fontStyle(2rem, var(--white));

                    &:hover {
                        background-color: var(--green);
                    }
                }
            }
        }


        form {
            flex: 1 1 42rem;

            .inputBox {
                display        : flex;
                flex-wrap      : wrap;
                justify-content: space-between;

                input {
                    width: 49%;
                }
            }

            .inputBox input,
            textarea {
                padding         : 1.4rem;
                margin          : .7rem 0;
                background-color: var(--lightBg);
                text-transform  : none;
                border          : var(--border);
                @include fontStyle(1.6rem, var(--lightColor));
            }

            textarea {
                width : 100%;
                resize: none;
                height: 15rem;
            }
        }
    }
}