#menu-btn {
    position        : fixed;
    top             : 2rem;
    right           : 2rem;
    width           : 5rem;
    height          : 5rem;
    line-height     : 5rem;
    text-align      : center;
    cursor          : pointer;
    z-index         : 102;
    display         : none;
    background-color: var(--green);
    @include fontStyle(2.5rem, var(--white));
}


.header {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 30rem;
    min-height      : 100%;
    padding         : 3rem;
    background-color: var(--green);
    transition      : .5s ease;
    z-index         : 101;

    .logo {
        @include fontStyle(3.5rem, var(--white));

        i {
            color: var(--yellow);
        }
    }

    .navbar {
        padding: 20% 0;

        a {
            display: block;
            padding: 1.7rem 0 0;
            @include fontStyle(2rem, var(--white));

            i {
                color: var(--yellow);
            }

            &:hover {
                color: var(--yellow);

                i {
                    color        : var(--black);
                    padding-right: 1rem;
                    transition   : .5s ease;
                }
            }
        }
    }

    .share {
        position  : absolute;
        bottom    : 0;
        left      : 0;
        padding   : 1rem;
        text-align: center;

        a {
            height          : 4rem;
            width           : 4rem;
            line-height     : 4rem;
            margin          : 0 .5rem;
            background-color: var(--white);
            @include fontStyle(2rem, var(--black));

            &:hover {
                color           : var(--white);
                background-color: var(--black);
            }
        }

        .credit {
            padding: 5% 0;
            @include fontStyle(1.5rem, var(--white));

            span {
                color: var(--yellow);
            }
        }
    }
}