@mixin grid($value) {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap                  : 2rem;
}

@mixin flex {
    display    : flex;
    align-items: center;
    flex-wrap  : wrap;
    gap        : 2rem;
}

@mixin fontStyle($size, $color) {
    font-size: $size;
    color    : $color;
}