.pricing {

    .box-container {
        @include grid(30rem);

        .box {
            padding         : 2rem;
            border          : var(--border);
            text-align      : center;
            background-color: var(--white);

            h3 {
                @include fontStyle(2rem, var(--black));
            }

            img {
                height: 20rem;
            }

            .amount {
                @include fontStyle(5rem, var(--black));

                span {
                    padding: 0 .5rem;
                    @include fontStyle(2.5rem, var(--green));
                }
            }

            .list {
                padding: 1.5rem 0;

                p {
                    padding: 1rem 0;
                    @include fontStyle(1.5rem, var(--lightColor));

                    i {
                        color        : var(--green);
                        padding-right: .5rem;

                        &.fa-times {
                            color: red;
                        }
                    }
                }
            }
        }
    }
}