@media (min-width: 1210px) {

    .category .box-container,
    .courses .box-container {
        @include grid(35rem);
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {

    body {
        /* margin-left: 0; */
        padding-left: 0;

        section {
            padding: 2rem;
        }
    }

    #menu-btn {
        display: block;

        /* active at JS click */
        &.fa-times {
            color           : var(--black);
            background-color: var(--white);
        }
    }

    .header {
        left: -110%;

        /* Behavior Changing ==> Help of JS */
        &.userClick {
            left      : 0;
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, .7);
        }
    }

    .home .content h3 {
        font-size: 2.5rem;
    }
}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    .contact .row form .inputBox input {
        width: 100%;
    }
}