@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/* 13 Jan 2022  */

:root {
    --red       : #da3d3d;
    --green     : #44bb6a;
    --black     : #263268;
    --white     : #FFF;
    --yellow    : #FF0;
    --lightBg   : #F6F6F6;
    --lightColor: #777;
    --border    : .1rem solid #999;
}

* {
    margin            : 0;
    padding           : 0;
    border            : 0;
    outline           : none;
    list-style        : none;
    text-decoration   : none;
    scroll-behavior   : smooth;
    text-transform    : capitalize;
    box-sizing        : border-box;
    font-family       : 'Nunito', sans-serif;
    transition        : all .1s linear;
    /* user-select    : none; */
}

@import 'mixin';

html {
    font-size : 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--green);
    }
}

body {
    // margin-left: 30rem;
    padding-left: 30rem;

    section {
        padding: 3rem 5%;

        &:nth-child(odd) {
            background-color: var(--lightBg);
        }
    }
}


.heading {
    text-align   : center;
    padding-top  : 1rem;
    margin-bottom: 3rem;

    span {
        text-transform: uppercase;
        @include fontStyle(2rem, var(--green));
    }

    h3 {
        padding-top: 1rem;
        @include fontStyle(3rem, var(--black));
    }
}


.btn {
    display         : inline-block;
    margin-top      : 1rem;
    padding         : 1.2rem 3rem;
    cursor          : pointer;
    background-color: var(--black);
    @include fontStyle(1.7rem, var(--white));

    &:hover {
        background-color: var(--green);
    }

}

@import 'header';
@import 'home';
@import 'category';
@import 'about';
@import 'courses';
@import 'pricing';
@import 'contact';
@import 'reviews';
@import 'blogs';
@import 'responsive';