@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

/* 13 Jan 2022  */

* {
    margin            : 0;
    padding           : 0;
    border            : 0;
    outline           : none;
    list-style        : none;
    text-decoration   : none;
    scroll-behavior   : smooth;
    text-transform    : capitalize;
    box-sizing        : border-box;
    font-family       : 'Nunito', sans-serif;
    transition        : all .1s linear;
    /* user-select    : none; */
}

@import 'variables';

html {
    font-size : 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $green;
    }
}

body {
    // margin-left: 30rem;
    padding-left: 30rem;
}

section {
    padding: 3rem 5%;

    &:nth-child(odd) {
        background-color: $light-bg;
    }
}

.heading {
    text-align   : center;
    padding-top  : 1rem;
    margin-bottom: 3rem;

    span {
        text-transform: uppercase;
        @include fontStyle(2rem, $green);
    }

    h3 {
        padding-top: 1rem;
        @include fontStyle(3rem, $black);
    }
}


.btn {
    display         : inline-block;
    margin-top      : 1rem;
    padding         : 1.2rem 3rem;
    cursor          : pointer;
    background-color: $black;
    @include fontStyle(1.7rem, $white);

    &:hover {
        background: $green;
    }

}

@import 'header';
@import 'home';
@import 'category';
@import 'about';
@import 'responsive';